// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

$pp-darkblue: #297fb8;
$white: #f8f8f8;
$googleplus-red: #ea4f42;
$white-two: #f5f5f5;
$blue-link: #218fc4;
$leafy-green: #5fb336;
$pp-dark-blue-variant: #1a88c9;
$pp-darkest-blue: #055379;
$pp-white: #ffffff;
$gplus-darkest-red: #c0483e;
$header-container-background: #ebebeb;
$form-background: #f9f9f9;
$form-border: #e2e2e2;

body {
  font-family: 'Roboto', sans-serif;
}

.page-title {
  line-height: 0.75;
  letter-spacing: 0.6px;
  color: #5b5b5b;
  font-size: 24px;
}

.page-sub-title {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: left;
  color: #5b5b5b;
}

.page-tabs {
  margin-top: 40px;
}

.page-tabs-nav {
  font-size: 18px;
  color: #717376;
  padding: 12px 64px;
  text-decoration: none !important;
  border-color: transparent;
}

.page-tabs-nav.active {
  border-color: $pp-dark-blue-variant;
  color: $pp-dark-blue-variant;
}

#stats {
  padding: 60px 0;
}

#stats > span:first-child {
  font-size: 30px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 0.8px;
  color: #545454;
  margin-bottom: 10px;
}

#stats > span:nth-child(2) {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: #545454;
  margin-bottom: 40px;
}

button {
  background: $leafy-green;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 36px;
}

.earning-tile {
  height: 376px;
  overflow: hidden;
}

.tile-back > div {
  background: $pp-dark-blue-variant;
  height: 376px;
}

.tile-back, .earning-tile:hover>.tile-front {
  display: none;
}

.tile-back button {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: $pp-white;
}

.tile-back p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: $pp-white;
  padding: 40px 40px 0 40px;
}

.earning-tile:hover>.tile-back {
  display: block;
}

.earning-tile .image-container {
  height: 214px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.money-value-container {
  height: 77px;
  width: 77px;
  margin-top: -38.5px;
  margin-bottom: -38.5px;
  color: $pp-dark-blue-variant;
}

.money-value-container > span:first-child {
  font-size: 24px;
  line-height: 26px;
}

.money-value-container > span:nth-child(2) {
  font-size: 14px;
}

.panel-info-container {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  color: #585858;
}

.uploader-info-container {
  font-size: 12px;
}

#slider-nav a {
  background: #d9d9d9;
  height: 4px;
  width: 20px;
}

#slider-nav a.active, #slider-nav a:hover {
  background: $pp-dark-blue-variant;
}

